<% provide(:title, "Log in") %>


<div class="row" align="center">
  <div class="col-md-6 col-md-offset-8">
  	<% if user_signed_in? %>
  		<h1> Main Page </h1>
  		<%= link_to "New Guns", new_product_path %>
		<%= link_to "View All Guns", products_path %>
	<% else %>
    	<h1 align="center">Welcome Customer</h1>
    <% end %>
  </div>
</div>